* {
    border: 1px solid black;
}
body {
    margin: 0;
}
#main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.tower-class {
    display: flex;
    flex-direction: column-reverse;
    height: 600px;
    width: 100px;
    flex: 1;
    align-items: center;
}
#hidden {
    display: block;
    visibility: hidden;
}
#disc-1 {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
#disc-2 {
    background-color: purple;
    width: 200px;
    height: 100px;
    border-radius: 6px;
}
#disc-3 {
    background-color: green;
    width: 300px;
    height: 100px;
    border-radius: 6px;
}
#disc-4 {
    background-color: red;
    width: 400px;
    height: 100px;
    border-radius: 6px;

}
